.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 380px 0 100px 0;
  height: auto;
}

.titulo {
  margin: 23px;
  text-align: center;
  color: #7a8d82;
}

.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50vw;
  background-color: #BDBBB6;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: center;
}

.email, .nombre, .mensaje {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 12px;
}

.formulario label {
  text-transform: uppercase;
  color: darkcyan;
  font-size: 15px;
  font-weight: 800;
}

.formulario input {
  padding: 12px;
  text-align: center;
}

.formulario input:focus, .formulario textarea:focus {
  border-color: aquamarine;
}

.formulario input, .formulario textarea  {
  width: auto;
  border: none;
  border-bottom: 2px solid var(--color-titulo);
  background-color: transparent;
  font-size: 15px;
}

.formulario textarea {
  resize: none;
  width: 400px;
  height: 200px;
}

.formulario input[type='submit'] {
  border: none;
  background-color: #7ed891;
  width: 100%;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin: 12px 0;
}

.formulario input[type='submit']:hover {
  background-color: #4c9e5f;
  font-weight: 500;
}

.separador {
  width: 800px;
  margin: 40px 0;
  border-top: 2px solid #71aa8b;
}

.container_contactos a {
  text-decoration: none;
  color: darkcyan;
}

.contactos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
}

.contacto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 29px 8px;
}

.contacto p {
  font-size: 12px;
  margin-top: 12px;
}

@media (max-width: 592px) {
  .container {
    margin-top: 200px;
  }
  
  .inputs {
    flex-direction: column;
  }

  .formulario {
    width: 80vw;
  }

  .formulario label {
    text-transform: uppercase;
    color: var(--color-titulo);
    font-size: 13px;
    font-weight: 800;
  }

  .formulario textarea {
    resize: none;
    width: 200px;
    height: 200px;
  }

  .separador {
    width: 300px;
  }

  .contactos {
    width: 50px;
    flex-wrap: wrap;
  }
  
  .contacto {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 8px;
  }
  
  .contacto p {
    margin-top: 7px;
    font-size: 11px;
  }
}