.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 100px 0 150px 0;
  height: auto;
  width: 100vw;
}

.container_titulo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 22rem;
}

.titulo {
  color: #7a8d82;
  text-transform: uppercase;
}

.container_proyectos {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 50px;
  background-color: var(--color-fondo-recuadro);
  width: 80vw;
  height: auto;
}

.card_proyecto {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 450px;
  height: 350px;
  margin-top: 12px;
}

.container_portada {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 300px;
  margin: 0 12px;
}

.portada {
  width: 35vw;
  height: 35%;
}

.container_lenguajes {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 200px;
}

.titulo_proyecto {
  color: #5F7066;
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;
}

.botones {
  display: flex;
  align-items: center;
  margin: 7px;
  width: 200px;
}

.boton_repo, .boton_proyecto {
  border: none;
  margin: 0 7px;
  padding: 7px;
  background-color: var(--color-fondo-recuadro);
  border-radius: 5px;
  box-shadow: 2px 2px 3px var(--color-titulo);
}

.boton_repo a, .boton_proyecto a {
  text-decoration: none;
  color: var(--color-titulo);
  font-weight: 800;
  font-size: 15px;
}

.boton_repo:hover, .boton_proyecto:hover {
  box-shadow: 2px 2px 20px var(--color-titulo);
}

@media (max-width: 592px) {
  .container {
    margin: 10px 0 120px 0;
    flex-direction: column;
  }

  .container_titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14rem;
  }

  .titulo {
    font-size: 20px;
  }

  .container_proyectos {
    margin-top: 7px;
    width: 60vw;
    flex-wrap: nowrap;
  }

  .card_proyecto {
    width: 800px;
    height: 320px;
    padding: 0 12px;
  }

  .portada {
    width: 16rem;
    height: auto;
  }

  .boton_repo a, .boton_proyecto a {
    font-size: 12px;
  }
}