.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 320px;
  height: auto;
}

.foto {
  display: flex;
  align-items: center;
  justify-content: center;
  /* margin-top: 200px; */
}

.nombre {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 65vw;
  margin-top: 100px;
}

.nombre h1 {
  text-transform: uppercase;
  text-shadow: 2px 2px 5px #73877B;
  color: #5F7066;
  font-style: oblique;
  font-size: 55px;
  margin-bottom: 25px;
}

.nombre h4 {
  color: #5F7066;
  font-size: 25px;
}

.imagen img {
  border-radius: 100%;
  height: 350px;
  width: 300px;
  transition: 2s all;
}

.imagen img:hover {
  height: 380px;
  width: 320px;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 35vw;
}

.redes img {
  width: 60px;
  height: 60px;
  margin: 0 15px;
}

.redes a {
  text-decoration: none;
  color: black;
}

.github, .linkedin, .cv {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 120px;
}

.github p, .linkedin p, .cv p {
  text-align: center;
  font-size: 10px;
}

.curriculum {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200vw;
  margin-top: 20px;
}

.curriculum img {
  width: 55vw;
  height: 140vh;
}

@media (max-width: 592px) {
  .container {
    margin-top: 580px;
    height: 40vh;
  }

  .foto {
    margin-top: 30px;
    flex-direction: column;
  }

  .nombre {
    margin: 20px 0;
    padding: 0 12px;
    width: 90vw;
  }

  .nombre h1 {
    font-size: 28px;
    margin-bottom: 7px;
  }

  .nombre h4 {
    color: #5F7066;
    font-size: 15px;
  }

  .imagen img {
    border-radius: 100%;
    height: 250px;
    width: 200px;
    transition: 2s all;
    box-shadow: 12px 12px 72px var(--color-titulo);
  }

  .imagen img:hover {
    height: 270px;
    width: 220px;
    transition: .2s all;
    box-shadow: 12px 12px 72px var(--color-titulo);
  }

  .redes {
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    margin: 12px;
  }

  .curriculum {
    width: 100vw;
  }
  
  .curriculum img {
    width: 85vw;
    height: 90vh;
  }
}